{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto mt-5 shadow p-3">
                    <h2 style="text-align: center; border-radius: 10px;" class="bg-secondary text-white" >Contact</h2><br>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="input1" class="form-label text-white">Name: </label>
                            <input type="text" class="form-control" id="input1" placeholder="username">
                        </div>
                        <div class="mb-3">
                            <label for="input2" class="col-sm-2 col-form-label text-white">Email:</label>
                            <input type="email" class="form-control" id="input2" placeholder="email">
                        </div>
                        <div class="mb-3">
                            <label for="input3" class="col-sm-2 col-form-label text-white">Phone:</label>
                            <input type="number" class="form-control" id="input3" placeholder="mob">
                        </div>
                        <div class="mb-3">
                            <label for="input4" class="col-sm-2 col-form-label text-white">Message:</label>
                            <input type="text" class="form-control" id="input4">
                        </div>
                        <div class="col-auto ">
                            <button type="submit" class="bg-secondary text-white mb-3 text-white">Send</button>
                          </div>
                    </form>
                </div>
            </div>
        </div> <br><br>

{% endblock 'main' %}