{% load static %}
<div style="background-color:orange;"  class="row  p-3 ">
    <div class="col-md-4  p-3" style="font-family: cursive;">
      <h5>Address</h5><hr>
      2nd Floor, Rajpoot building,<br>
      Near Rajkamal<br>
      Amravati-4446005<br>
      Contact:6786458945
    </div>

    <div  class="col-md-4  p-3" style="font-family: cursive;">
      <h5>Quick Links</h5><hr>
      <a class="anchor" href="/product">Home</a><br>
      <a class="anchor" href="/about">About</a><br>
      <a class="anchor" href="/contact">Contact</a><br>
    </div>

    <div class="col-md-4  p-3">
      <h5 style="font-family: cursive;">Social media</h5><hr>
      <h5><a href="http://www.facebook.com"><i class="bi bi-facebook"></i></a></h5>
      <h5><a href="http://www.instagram.com"><i class="bi bi-instagram"></i></a></h5>
      <h5><a href="http://www.whatsapp.com"><i class="bi bi-whatsapp"></i></a></h5>
      <h5><a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a></h5>
    </div>
  </div><!--footer section end-->


</div>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
      
</body>
</html>